@import url(static.css);
body{ min-width:1000px}
.topn{ height:50px; background:#373d41;}
.top_r1{ height:41px; float:right;padding-left:7px; padding-top:9px; padding-right:20px}
.top_r2{ float:right; padding-top:11px; width:300px;}
.top_r2 li{ float:left; width:90px; padding-right:2px;  height:32px; line-height:32px;}
.top_r2 li.last{ background:none}
.top_r2 li a{ color:#fff; font-size:13px; }
.top_r2 li a:hover,.top_r2 li a.a_active{ color:#e1fc00}
#vers a{ margin-left:10px; margin-right:10px}
.logo{ float:left; margin-top:1px}
.top_r1 a{ float:left}
.top_r1 a.uname{ padding-right:15px; background:url(../images/ManagerPage/ico_down.png) right center no-repeat; padding-left:5px; margin-top:5px; color:#b6becc; font-size:12px; height:20px; overflow:hidden; text-align:center; font-size:13px;text-transform:capitalize; color:#f8f8f8; padding-bottom:2px}
.top_r1 a.uset{ margin-left:30px; margin-top:6px;}.top_r1 a.uloginout{margin-left:20px; margin-top:6px;}
/*顶部结束*/
.info{ width:100%; position:relative;}
.info_right{ margin-left:17%; overflow-y:auto; overflow-x:hidden}
.info_txt{ overflow:auto}
.info_left{ position:absolute; left:0; top:0; height:100%; width:17%; background:#333744; border-right:#bfd1dd solid 1px; overflow:hidden}
.left_nav a{ display:block; height:40px; background:#42485b; padding-left:10px; line-height:40px; text-align:left; color:#fff; font-size:14px; letter-spacing:1px;transition: all 0.2s ease-in-out 0s}
.left_nav a:hover{ background:#00c1de}
.left_nav a .left_tico{ float:left; width:13px; height:13px; background:url(../images/ManagerPage/nav/leftnav_ico.png) center center no-repeat; margin-right:6px; margin-top:13px;transition: all 0.2s ease-in-out 0s}
.left_nav a.cura .left_tico{transform:rotate(90deg);_background:url(../images/ManagerPage/nav/leftnav_ico1.png) center center no-repeat;*background:url(../images/ManagerPage/nav/leftnav_ico1.png) center center no-repeat;background:url(../images/ManagerPage/nav/leftnav_ico1.png) center center no-repeat\0;}


.left_nav .left_sub{ overflow-y:auto; }
.left_nav .left_sub .left_sub1{padding-top:2px; padding-bottom:2px;}
.left_nav .left_sub .left_sub1 a{ background:none; height:40px; line-height:40px; padding-left:20px}
.left_nav .left_sub .left_sub1 a:hover,.left_nav .left_sub .left_sub1 a.a_hover{ background:#4a5064;}
.left_nav .left_sub .left_sub1 a span{ padding:2px 0 2px 25px; background-image:url(../images/ManagerPage/nav/leftnavbg.png);_background-image:url(../images/ManagerPage/nav/leftnavbg.gif); background-repeat:no-repeat; font-size:13px;}
.left_nav .left_sub .left_sub1 a:hover span,.left_nav .left_sub .left_sub1 a.a_hover span{ color:#fff;}
/*中间结束*/
.foot{ height:29px; border-top:1px solid #C1D1DC; background:url(../images/ManagerPage/foot/foot_navbg.gif) top center repeat-x; text-align:right; padding-right:10px; color:#999;font-family: Comic Sans MS; font-size:12px; line-height:29px;}
.maskbg{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:99; background:#000; opacity:0.3;filter:alpha(opacity:30); display:none;}
.mapview{ width:800px; height:600px; border:#6a82a9 solid 2px; position:absolute; left:50%; top:50%; margin-left:-402px; margin-top:-302px; background:#fff; display:none; z-index:100}
.mapinfo{width:800px; height:600px;}
.mapclose{ position:absolute; width:40px; height:40px; font-size:30px; line-height:35px; color:#fff; right:-2px; top:-2px; z-index:1; background:#6a82a9;}
.mapcenter{ width:41px; height:41px; position:absolute; z-index:1; top:50%; left:50%; margin-left:-21px; margin-top:-21px; background:url(../images/ManagerPage/mapcenter.png) center center no-repeat;}
.btn1{ width:120px; height:40px; border:0; background:#6a82a9; position:absolute; top:-2px; right:40px; font-size:14px; color:#fff; line-height:38px}
.popewm{ position:absolute; z-index:100; background:#fff; left:50%; top:50%; width:259px; height:259px; margin-left:-129px; margin-top:-129px; border:#CCC solid 1px}
.popewm1{width:259px; height:259px;}
.popclose{ position:absolute; right:3px; top:0px; font-size:18px; color:#000}

/*地图弹框*/
.topbar{line-height:29px; height:29px; background:url(../images/tab_titbg.gif) left center repeat-x; text-align:left; padding-left:15px; font-size:14px; color:#74829d;border-bottom:#c1d1dc solid 1px}
.landview{ width:700px; height:500px; position:fixed; top:50%; left:50%; border:3px #c1d1dc solid; margin-left:-353px; margin-top:-253px; z-index:110; background:#fff}
.popclost{ float:right; width:30px; height:30px; line-height:26px; background:#0099cc; font-size:22px; text-align:center; color:#fff; font-weight:bold}
.popsubmit{ float:right; width:80px; height:30px; line-height:28px; background:#0099cc; margin-right:5px; text-align:center;color:#fff}
.btn{ width:80px; height:30px; border:0; line-height:29px;  background:#0099cc; color:#fff;font-family:"微软雅黑"}
.input1{ padding:5px; width:120px; height:18px; line-height:18px; border:#aaa solid 1px; color:#4b4b4b; font-size:14px; font-family:"微软雅黑";}
.btn:hover,.popsubmit:hover,.popclost:hover{ background:#28b5d6}
.cmoneyview{width:500px; height:300px;margin-left:-253px; margin-top:-173px;}
.popctab tr td{ padding-top:6px; padding-bottom:6px}